extends layout

block content
  h1 Welcome!
  if user
    p= user.name
    hr
    div.folders.block
      table.table.table-bordered
        thead
          tr: th Folders 
        tbody
          each folder in user.folders
            tr
              td 
                //a(href='/emails/' + email.id) #{email.author} - #{email.title}
                a(href='#') #{folder}
    div.emails.block
      table.table.table-hover
        thead
          tr: th Subject 
              th From 
              th Date
        tbody
          each email in user.emails
            tr            
              td 
                //a(href='/emails/' + email.id) #{email.author} - #{email.title}
                a(href='/email/' + email.id) #{email.subject}
              td
                #{email.from}
              td
                #{email.date}
  else
    p.
      Please setup your details.json file in this directory in order to access the application
